<header>
    <section class="section">
    <h1 class="js-label section__title">~ Buscador de Cócteles ~</h1>
    <nav class="section__nav">
      <input
        class="js-input section__nav--input"
        type="text"
        id="input_lbl"
        placeholder="Busca tu cóctel"
      />
      <button class="js-button section__nav--button">Buscar</button>
      <button class="js-reset section__nav--reset">Reset búsqueda</button>
      <button class="js-reset-fav section__nav--reset-fav">
        Reset favoritos
      </button>
      <button class="js-log">LOG</button>
    </nav>
</header>