.section {
    //background-color: rgb(243, 246, 248);
    height: 100%;
    &__title {
        color: $color-fourth;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        &--input {
            height: 30px;
            width: 250px;
            padding: 8px;
            border-color:$color-primary;
        }
        &--button {
            width: 80px;
            color: $color-primary;
            border-color: $color-primary;
            background-color: $color-secondary;
            font-weight: bold;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &--reset {
            width: 120px;
            color: $color-primary;
            border-color:  $color-primary;
            background-color: $color-secondary;
            font-weight: bold;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &--reset-fav {
            width: 120px;
            color: $color-primary;
            border-color:  $color-primary;
            background-color: $color-secondary;
            font-weight: bold;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }

}

.both_lists {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__favorit {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 250px;
        &--title {
            display: grid;
            justify-items: center;
            color: $color-primary;
            text-decoration: underline;
            padding: 20px;
        }
        &--favorites {
            display: grid;
            justify-items: center;
        }
    }
     &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px auto;
        &--title {
            display: grid;
            grid-column: 1/5;
            grid-template-rows: 1fr;
            justify-items: center;
            color:$color-primary;
            text-decoration: underline;
            padding: 20px;
        }
        &--all {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }
}

.img-small {
    max-height: 120px;
    max-width: 120px;
}

.fav_list {
    border: solid 1px $color-tertiary;
    color: $color-fourth;
    height: 175px;
    width: 180px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    :hover {
        cursor: pointer;
    }
}

.all_list {
    height: 175px;
    width: 180px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-primary;
    &:hover {
        color: $color-fourth;
        cursor: pointer;
    }
}

.cocktail-favorite {
    border: solid 1px $color-tertiary;
    background-color:$color-secondary;
    color: $color-fourth;
    gap: 5px;
}