
.img-small {
    max-height: 120px;
    max-width: 120px;
}
.section {
    background-color: rgb(210, 243, 243);
    height: 100vh;
    &__title {
        color: rgb(90, 107, 232);
        padding: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
    }
    &__nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        &--input {
            height: 30px;
            width: 250px;
            padding: 8px;
            border-color: rgb(90, 107, 232);
        }
        &--button {
            width: 60px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
        &--reset {
            width: 120px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
        &--reset-fav {
            width: 120px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
    }

}

.both_lists {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    &__favorit {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto;
        &--title {
            display: grid;
            justify-items: center;
            color: rgb(90, 107, 232);
        }
        &--favorites {
            display: grid;
            justify-items: center;
        }
    }
     &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px auto;
        &--title {
            display: grid;
            grid-column: 1/5;
            grid-template-rows: 1fr;
            justify-items: center;
            color: rgb(90, 107, 232);
        }
        &--all {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }
}


.fav_list {
    border: solid 1px rgb(90, 107, 232);
    color: rgb(90, 107, 232);
    height: 175px;
    width: 190px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.all_list {
    height: 175px;
    width: 190px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
//Clases para los favoritos
.cocktail-favorite {
    cursor: pointer;
    border: solid 1px rgb(90, 107, 232);
    background-color:rgb(212, 229, 244);
    color: rgb(90, 107, 232);
    gap: 5px;
}