
.img-small {
    max-height: 150px;
    max-width: 150px;
}
.section {
    background-color: rgb(210, 243, 243);
    height: 100%;
    &__title {
        color: rgb(90, 107, 232);
        padding: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
    }
    &__nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        &--input {
            height: 30px;
            width: 250px;
            padding: 8px;
            border-color: rgb(90, 107, 232);
        }
        &--button {
            width: 60px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
        &--reset {
            width: 120px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
        &--reset-fav {
            width: 120px;
            color: rgb(90, 107, 232);
            border-color: rgb(90, 107, 232);
            background-color: rgb(212, 229, 244);
            font-weight: bold;
        }
    }

}

.both_lists {
    width: 100vw;
    //height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    &__favorit {
        // display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: auto;
    }
    &__list {
        display: grid;
        grid-column: 2 / 4;
        grid-template-rows: auto;
    }
}
// .list {
//     display: grid;
//     grid-template-columns: span 2;
//     height: auto;
// }
.favorit {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}
.fav_list {
    border: solid 1px rgb(90, 107, 232);
    color: rgb(90, 107, 232);
    height: 190px;
    width: 200px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.all_list {
    height: 190px;
    width: 200px;
    padding: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
//Clases para los favoritos
.cocktail-favorite {
    border: solid 1px rgb(90, 107, 232);
    background-color:rgb(212, 229, 244);
    color: rgb(90, 107, 232);
    gap: 5px;
}